{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ object }} - Calendário{% endblock %}

{% block content %}

    <style>
        #timegrid {
            overflow-x: auto;
        }

        .fc {
            min-width: 1000px; /* Ajuste de acordo com a largura mínima desejada */
        }

        #calendario-div {
            overflow-x: auto;
            position: relative;
        }

    </style>


    <div class="row mt-3">
        <div class="col-12 mb-3">
            <a href="{% url 'reservas:calendario_com_semana' object.slug view.get_next_week.ano view.get_next_week.semana %}"
               title="Next week"
               class="btn btn-primary float-end ms-3"><span class="fc-icon fc-icon-chevron-right"></span>
            </a>
            <a href="{% url 'reservas:calendario_com_semana' object.slug view.get_previous_week.ano view.get_previous_week.semana %}"
               title="Previous week"
               class="btn btn-primary float-end"><span
                    class="fc-icon fc-icon-chevron-left"></span></button>
            </a>

        </div>
        <div class="col-12" id="calendario-div">
            <div id="timegrid"></div>
        </div>

    </div>


{% endblock %}

{% block extra_js %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.9/index.global.js"></script>
    <script>
        function formatarHora(dateObj) {
            return dateObj?.toLocaleTimeString([], {
                hour: "2-digit",
                minute: "2-digit",
            });
        }

        document.addEventListener("DOMContentLoaded", () => {
            iniciarCalendario();
        });

        function iniciarCalendario() {

            var calendarEl = document.getElementById("timegrid");
            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: "pt-BR",
                initialView: "timeGridWeek",
                initialDate: '{{ data_inicial|date:"Y-m-d" }}',
                slotMinTime: "{{ slotMinTime }}",
                slotMaxTime: "{{ slotMaxTime }}",
                headerToolbar: false,

                slotLabelFormat: {
                    hour: "2-digit", // Use 2-digit format for hours (e.g., "01", "02", ..., "12")
                    minute: "2-digit", // Use 2-digit format for minutes (e.g., "00", "15", "30", "45")
                    omitZeroMinute: false, // Keep minutes with leading zero (e.g., "01:00" instead of "1:00")
                    hour12: false, // Use 24-hour format (e.g., "00:00" to "23:00")
                },
                allDaySlot: false,
                events: {{ reservas|safe }},
            });

            function onSelect(arg) {
                try {
                    const reservas = calendar.getEvents();
                    let start = null;
                    let end = null;
                    for (const reserva of reservas) {
                        if (
                            start === null &&
                            reserva.start <= arg.start &&
                            arg.start <= reserva.end
                        ) {
                            // incrementa um minuto
                            start = new Date(reserva.end.getTime() + 60000);
                        }
                        if (
                            end === null &&
                            reserva.start <= arg.end &&
                            arg.end <= reserva.end
                        ) {
                            // decrementa um minuto
                            end = new Date(reserva.start.getTime() - 60000);
                        }
                    }
                    if (end === null) {
                        end = arg.end;
                    }
                    if (start === null) {
                        start = arg.start;
                    }
                    if (end > start) {
                        document.getElementById(
                            "id_horario_inicio"
                        ).value = start.toLocaleTimeString();
                        console.log("abriria o modal");
                        // document
                        $("#cadastro").modal("show");
                    }
                } catch (e) {
                    console.log("erro ao abrir modal ", e);
                }
            }

            calendar.render();
        }

    </script>
{% endblock %}




