{% extends 'core/base.html' %}
{% load static crispy_forms_tags %}
{% block extra_css %}
{% endblock %}

{% block title %}{{ unidade }}{% endblock %}

{% block content %}
        <div class="col col-8 col-md-4">
            <form class="card" method="post">
                <div class="card-header">
                    <h5 class="card-title">Adicionar nova reserva na sala {{ form.sala.unidade }} - {{ form.sala }}</h5>
                </div>
                <div class="card-body">
                    {% crispy form %}
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="{{ request.GET.previous|default_if_none:form.sala.get_absolute_url }}" class="btn btn-secondary">Voltar</a>
                    <button class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
{% endblock %}





