{% extends 'core/base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
{% endblock %}

{% block title %}{{ unidade }}{% endblock %}

{% block content %}

  <div class="row mb-3 mt-2">

    {# Selecionar data #}
    <div class="col-4">
      <div class="input-group">
        <button type="button" class="btn btn-outline-secondary" id="componente_selecionar_data"><i
                class="bi bi-calendar"></i> Selecione
          uma data
        </button>
      </div>
    </div>

    {# Selecionar a sala #}
    <div class="col-4">
      <span>{{ sala }}</span>
    </div>

    {# Botão link para visualizar a sala na semana #}
    <div class="col-4">

    </div>
  </div>

  <div class="row">
    <img id="imagem_sala" src="{{ sala.imagem.url }}" class="d-block w-100" alt="...">
  </div>

  <div class="row">
    <ul id="lista_horarios" class="list-group">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
    </ul>
  </div>


{% endblock %}

{% block extra_js %}
  <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
  <script>
      var picker = new Pikaday({
          field: document.getElementById('componente_selecionar_data'),
          toString(date, format) {
              // you should do formatting based on the passed format,
              // but we will just return 'D/M/YYYY' for simplicity
              return date.toLocaleDateString(undefined, {month: 'long', day: 'numeric'})
          },
          parse(dateString, format) {
              // dateString is the result of `toString` method
              const parts = dateString.split('/');
              const day = parseInt(parts[0], 10);
              const month = parseInt(parts[1], 10) - 1;
              const year = parseInt(parts[2], 10);
              return new Date(year, month, day);
          },
          onSelect: function (date) {
              var data_formatada = picker.toString();
              $('#componente_selecionar_data').html('<i class=" bi bi-calendar"></i> ' + data_formatada);
          }
      });
  </script>
{% endblock %}




